<div class="hidden" style="clear: both" id="updatePwdDlg">
    <article class="page-container">
    <form class="form  form-horizontal" id="form">
        <input type="hidden" class="input-text" id="id" name="id" value="" placeholder="id">
        <div class="row cl">
            <label for="username" class="form-label col-xs-4 col-sm-3">用户名:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="username" name="username" placeholder="用户名" value="" disabled>
            </div>
        </div>
        <div class="row cl">
            <label for="old_password_hash" class="form-label col-xs-4 col-sm-3">密码:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" id="old_password_hash" name="old_password_hash" placeholder="密码">
            </div>
        </div>
        <div class="row cl">
            <label for="new_password_hash1" class="form-label col-xs-4 col-sm-3">新密码:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" id="new_password_hash1" name="new_password_hash1" placeholder="新密码">
            </div>
        </div>
        <div class="row cl">
            <label for="new_password_hash2" class="form-label col-xs-4 col-sm-3">确认密码:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" id="new_password_hash2" name="new_password_hash2" placeholder="再次输入密码确认">
            </div>
        </div>
    </form>
</article>
</div>
<script>
//    ;(function(){
//        var $fm = $('#form');
//        var $btn = $('#btn');
//        $btn.click(function(){
//            $fm.formSubmit({
//               url:'{:url("updatePwd")}',
//                success:function(result){
//                    $.dialogMsg({message:result.msg});
//                    if(result.success){
//                        location.reload();
//                    }
//                }
//            });
//        });
//
//    })(jQuery,window,document);
</script>
