.best-top-menu{height: 10px;margin-bottom:0px;background-color: #036;border-radius:0px;}
.first-menu-bg-color{background-color: #114f8e;}
.menu-font-color{color: #fff;}
.caret-up {display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-bottom: 4px dashed;border-bottom: 4px solid \9;border-right: 4px solid transparent;border-left: 4px solid transparent;}

