<div id="service_table_btn">
    <button type="button" class="btn btn-success"  id="add_btn" >新增</button>
    <button type="button" class="btn btn-warning" id="del_btn">删除</button>
    <button type="button" class="btn btn-info" id="test_link">尝试连接</button>
</div>
<div class="table-responsive">
    <table id="service_table">
    </table>
</div>
{include file='route_service/form'/}
{include file='route_service/link_form'/}
<script>
    (function(){
        var $table = $("#service_table");
        var $addBtn = $('#add_btn');
        var $delBtn = $('#del_btn');
        var $addBtnDlg = $('#service_info_dlg');
        var $testLink = $('#test_link');
        var $linkDlg = $('#link_dlg');
        //服务器信息弹框
        var addDialog = new  BootstrapDialog({
            title:'新增服务器',
            message:function(){
                var msg = $addBtnDlg.html();
                $addBtnDlg.remove();
                return msg;
            },
            nl2br:false,
            data:{},
            onshown:function(dialogRef){
                var $form = $('#service_info_fm');
                if(!$.is_null(dialogRef.data)){ //修改 表单赋值
                    $form.formLoad(dialogRef.data);
                }
                var $overdue = $("#overdue");
                $overdue.datetimepicker({
                    format: 'yyyy-mm-dd hh:ii',
                    language:'zh-CN',
                    autoclose:1,
                });
            },
            buttons:[{
                id:'btn-ok',
                label:'保存',
                cssClass:'btn-primary',
                action:function(dialogRef){
                    var $form = $('#service_info_fm');
                    $form.formSubmit({
                        url:"{:url('save')}",
                        success:function(result){
                            if(result.success){
                                dialogRef.close();
                                $table.bootstrapTable('refresh');
                            }
                            $.dialogMsg({message:result.msg});
                        }
                    });
                },
            },
                {
                    id:'btn-false',
                    label:'取消',
                    cssClass:'btn-default',
                    action:function(dialogRef){
                        dialogRef.close();
                    }
                },]
        });
        //测试链接弹框
        var linkDlg = new BootstrapDialog({
            title:'连接测试',
            message:function(){
                var msg = $linkDlg.html();
                $linkDlg.remove();
                return msg;
            },
            nl2br:false,
            data:{},
            onshown:function(dialogRef){
                var $form = $('#link_form');
                var $linkDomain = $('#link_domain');
                if(!$.is_null(dialogRef.data)){ //修改 表单赋值
                    var byDomain = [];
                    $linkDomain.append('<option value="'+dialogRef.data.domain+'">'+dialogRef.data.domain+'</option>')
                    if(!$.is_null(dialogRef.data.by_domain)){
                        byDomain =  dialogRef.data.by_domain.split('|');
                        $.each(byDomain,function(k,v){
                            $linkDomain.append('<option value="'+v+'">'+v+'</option>');
                        });
                    }
                    $form.formLoad(dialogRef.data);
                }
            },
            buttons:[{
                id:'btn-ok',
                label:'连接',
                cssClass:'btn-primary',
                action:function(dialogRef){
                    var $form = $('#link_form');
                    $form.formSubmit({
                        url:"{:url('testLink')}",
                        success:function(result){
                            $.dialogMsg({message:result.msg});
                        }
                    });
                },
            },
                {
                    id:'btn-false',
                    label:'取消',
                    cssClass:'btn-default',
                    action:function(dialogRef){
                        dialogRef.close();
                    }
                },]
        });

        $table.bootstrapTable({
            url:"{:url('/RouteService/getList')}",
            idField:'id',
            search:true,
            searchOnEnterKey:false,
            clickToSelect:true,
            striped:true,
            pagination:true,
            pageSize:15,
            toolbar:'#service_table_btn',
            columns:[
                {field:'checked',title:'选择',checkbox:true},
                {field:'name',title:'名称',align:'center',sortable:true},
                {field:'domain',title:'域名',align:'center',sortable:true},
                {field:'by_domain',title:'备用域名',align:'center',sortable:true},
                {field:'overdue_str',title:'到期时间',align:'center',sortable:true,formatter:function(value,row,index){
                    var date = new Date();
                    var nowTime = date.getTime()/1000;
                    if((row.overdue-nowTime) < (2 * 24 * 60 * 60)){
                        return '<span style="color:red;">'+value+'</span>';
                    }
                    return value;
                }},
                {field:'max_number',title:'允许最大在线人数',align:'center',sortable:true},
                {field:'username',title:'用户名',align:'center'},
                {field:'remark',title:'备注',align:'center'},
                {field:'create_time',title:'创建时间',align:'center',sortable:true},
                {field:'update_time',title:'更新时间',align:'center',sortable:true},
            ],
            onDblClickRow:function(row,$element,field){
                addDialog.data = row;
                addDialog.open();
            }
        });

        //新增操作
        $addBtn.click(function(){
            addDialog.data = {};
            addDialog.open();
        });

        $delBtn.click(function(){
            var selectRow = $table.bootstrapTable('getSelections');
            if($.is_null(selectRow)){
                return false;
            } else {
                var pkArr = [];
                $.each(selectRow,function(k,v){
                    pkArr.push(v.id);
                });
                $.post("{:url('delData')}",{pkArr:JSON.stringify(pkArr)},function(result){
                    if(result.success){
                        $table.bootstrapTable('refresh');
                    }
                    $.dialogMsg({message:result.msg});
                });
            }
        });
        //尝试连接
        $testLink.click(function(){
            var row = $table.bootstrapTable('getSelections');
            if(!row.length){
                $.dialogMsg({message:'请选择数据'})
                return false;
            } else if(row.length>1){
                $.dialogMsg({message:'最多选择一行数据'})
                return false;
            }
            linkDlg.data = row[0];
            linkDlg.open();
        });
    })(jQuery,window,document)

</script>


