<div id="service_table_btn">
    <button type="button" class="btn btn-success"  id="add_btn" >新增</button>
    <button type="button" class="btn btn-warning" id="del_btn">删除</button>
</div>
<div class="table-responsive">
    <table id="service_table">
    </table>
</div>
{include file='route_service/form'/}
<script>
    (function(){
        var $table = $("#service_table");
        var $addBtn = $('#add_btn');
        var $delBtn = $('#del_btn');
        var $addBtnDlg = $('#service_info_dlg');
        //服务器信息弹框
        var addDialog = new  BootstrapDialog({
            title:'新增服务器',
            message:function(){
                var msg = $addBtnDlg.html();
                $addBtnDlg.remove();
                return msg;
            },
            nl2br:false,
            data:{},
            onshown:function(dialogRef){
                var $form = $('#service_info_fm');
                if(!$.is_null(dialogRef.data)){ //修改 表单赋值
                    $form.formLoad(dialogRef.data);
                }
            },
            buttons:[{
                id:'btn-ok',
                label:'保存',
                cssClass:'btn-primary',
                action:function(dialogRef){
                    var $form = $('#service_info_fm');
                    $form.formSubmit({
                        url:"{:url('save')}",
                        success:function(result){
                            if(result.success){
                                dialogRef.close();
                                $table.bootstrapTable('refresh');
                            }
                            $.dialogMsg({message:result.msg});
                        }
                    });
                },
            },
                {
                    id:'btn-false',
                    label:'取消',
                    cssClass:'btn-default',
                    action:function(dialogRef){
                        dialogRef.close();
                    }
                },]
        });

        $table.bootstrapTable({
            url:"{:url('/RouteService/getList')}",
            idField:'id',
            search:true,
            searchOnEnterKey:false,
            clickToSelect:true,
            striped:true,
            pagination:true,
            pageSize:15,
            toolbar:'#service_table_btn',
            columns:[
                {field:'checked',title:'选择',checkbox:true},
                {field:'name',title:'名称'},
                {field:'domain',title:'域名'},
                {field:'by_domain',title:'备用域名'},
                {field:'overdue',title:'到期时间'},
                {field:'max_number',title:'允许最大在线人数'},
                {field:'username',title:'用户名'},
                {field:'remark',title:'备注'},
                {field:'create_time',title:'创建时间'},
                {field:'update_time',title:'更新时间'},
            ],
            onDblClickRow:function(row,$element,field){
                addDialog.data = row;
                addDialog.open();
            }
        });

        //新增操作
        $addBtn.click(function(){
            addDialog.data = {};
            addDialog.open();
        });

        $delBtn.click(function(){
            var selectRow = $table.bootstrapTable('getSelections');
            if($.is_null(selectRow)){
                return false;
            } else {
                var pkArr = [];
                $.each(selectRow,function(k,v){
                    pkArr.push(v.id);
                });
                $.post("{:url('delData')}",{pkArr:JSON.stringify(pkArr)},function(result){
                    if(result.success){
                        $table.bootstrapTable('refresh');
                    }
                    $.dialogMsg({message:result.msg});
                });
            }
        });
    })(jQuery,window,document)

</script>


